<!--
  Generated template for the FavoritosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style = "background-color: #2F2F2F">
      <h2 style = "color: white">Favoritos</h2>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style= "background-color: #D9D9D9">
  <ion-list>
    <ion-item *ngFor = "let producto of items">
      <ion-thumbnail item-start>
          <img *ngIf = "producto.ad.hasOwnProperty('thumbnail')"
          src = "https://img.segundamano.mx/cover/{{producto.ad.thumbnail.path}}">
      </ion-thumbnail>
      <h2 *ngIf = "producto.ad.hasOwnProperty('subject')">
          {{producto.ad.subject}}
      </h2>
      <h2 *ngIf = "producto.ad.hasOwnProperty('list_price')" style = "color:teal">
        {{producto.ad.list_price.label}}, {{producto.ad.list_price.currency}}
    </h2>
    </ion-item>
  </ion-list>

</ion-content>
