<!--
  Generated template for the CompuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style = "background-color: #2F2F2F">
    <h3 style = "color: white">Mascotas</h3>
  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: #D9D9D9">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let mascota of mascotas" col-6>
        <ion-card>
          <img *ngIf = "mascota.ad.hasOwnProperty('thumbnail')"
              src = "https://img.segundamano.mx/cover/{{mascota.ad.thumbnail.path}}">
          <img *ngIf = "!mascota.ad.hasOwnProperty('thumbnail')"
              src = "../assets/pets.jpg">
          <ion-card-content>
          <p *ngIf = "mascota.ad.hasOwnProperty('locations')">
            {{mascota.ad.locations[0].locations[0].label}}, {{mascota.ad.locations[0].label}}
          </p>
          <h2 *ngIf = "mascota.ad.hasOwnProperty('list_price')" style = "color:teal">
              {{mascota.ad.list_price.label}}, {{mascota.ad.list_price.currency}}
          </h2>
          <p *ngIf = "mascota.ad.hasOwnProperty('list_time')">
             Publicado: {{mascota.ad.list_time.label}}
          </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
